# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=
PRISMA_FIELD_ENCRYPTION_KEY=

# Stripe
STRIPE_SECRET_KEY=

# Discord
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
NEXT_PUBLIC_DISCORD_GUILD_ID=
DISCORD_BOT_WEB_URL=
DISCORD_BOT_WEB_SECRET=

# NextAuth.js
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# R2
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ENDPOINT=
NEXT_PUBLIC_R2_PUBLIC_URL=

# Meilisearch
MEILISEARCH_HOST=
MEILISEARCH_API_KEY=
